.accordion {
  border: none;
  border-radius: 30px;
}

.accordion-item {
  border: none;
  border-radius: 10px !important;
  -webkit-box-shadow: 20px 20px 40px rgba(69, 74, 79, 0.05);
          box-shadow: 20px 20px 40px rgba(69, 74, 79, 0.05);
}

.accordion-button {
  position: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion-button:not(.collapsed) {
  color: #24243F;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #FFFFFF;
  width: 100%;
  padding: 2rem 2rem 1rem 2rem;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  padding: 2rem 2rem;
  border-radius: 10px !important;
}

.accordion-button:not(.collapsed)::after {
  display: none;
}

.accordion-button::after {
  display: none;
}

.accordion-button:focus {
  border-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-body {
  padding: 2rem 2rem;
}

.accordion-item:first-of-type .accordion-button {
  padding: 2rem 2rem;
  border-radius: 10px !important;
}

html {
  margin: 0;
}

.navbar-custom {
  background-color: #426BA9;
  height: 80px;
  color: #FFFFFF;
}

.navbar-custom-link {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #FFFFFF;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.navbar-custom-link:hover {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #FFFFFF;
}

.navbar-custom-item {
  padding: .5rem 1.5rem;
}

.navbar-custom-toggler {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.navbar-custom-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.hero-custom {
  background-image: url("../../assets/img/hero.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 5rem;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-custom-title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 134.7%;
  color: #FFFFFF;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 4rem 0rem;
}

.about-section-subtitle {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #426BA9;
}

.about-section-title {
  font-family: 'Lato', sans-serif;
  font-size: 1.375rem;
  color: #24243F;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: .8rem;
}

.about-section-text {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #2B2B2D;
  font-weight: 400;
  line-height: 1.3rem;
  opacity: 0.8;
  margin-top: 2rem;
}

.work-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 9rem 0rem;
  background-image: url("../../assets/img/lightCurveBg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.work-section-subtitle {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #426BA9;
}

.work-section-title {
  font-family: 'Lato', sans-serif;
  font-size: 1.375rem;
  color: #24243F;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: .8rem;
}

.work-section-title::after {
  display: block;
  content: ' ';
  border: 3px solid #426BA9;
  position: absolute;
  width: 5%;
  margin-top: 1rem;
}

.work-section-title-container {
  width: 20%;
}

.work-section-text {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #2B2B2D;
  font-weight: 400;
  line-height: 1.3rem;
  opacity: 0.8;
  margin-top: 2rem;
}

.work-section-text-container {
  width: 40%;
}

.work-section-card {
  max-width: 348px;
}

.work-section-card-content {
  padding: 1rem .5rem;
}

.work-section-card-content-text {
  font-family: 'Lato', sans-serif;
  font-size: 0.875rem;
  color: #2B2B2D;
  font-weight: 400;
  line-height: 1.375rem;
  margin-top: 1rem;
}

.work-section-card-title {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #426BA9;
  margin: 0;
  padding: 0;
}

.work-section-card-title-container {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-section-card-image {
  -o-object-fit: cover;
     object-fit: cover;
}

.work-section-card-icon {
  width: 40px;
  height: 20px;
  padding: 0;
}

.work-section-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.work-section-card-wrapper {
  margin-top: -100px;
  padding-bottom: 6rem;
}

.works-section {
  background-image: url(../../assets/img/secondaryCurveBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 8rem 0rem;
}

.works-section-content-title {
  font-family: 'Lato', sans-serif;
  font-size: 1.375rem;
  color: #24243F;
  font-weight: 700;
  line-height: 1.5rem;
}

.works-section-content-title::after {
  display: block;
  content: ' ';
  border: 3px solid #426BA9;
  position: relative;
  width: 8%;
  margin: 0 auto;
  margin-top: 1rem;
}

.works-section-content-text {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #2B2B2D;
  font-weight: 400;
  line-height: 1.3rem;
  opacity: 0.8;
  margin-top: 1.5rem;
}

.works-section-card {
  border-radius: 10px !important;
}

.works-section-card-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  -webkit-box-shadow: 20px 20px 40px rgba(69, 74, 79, 0.05);
          box-shadow: 20px 20px 40px rgba(69, 74, 79, 0.05);
}

.works-section-card-title {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #426BA9;
}

.works-section-card-text {
  font-family: 'Lato', sans-serif;
  font-size: 0.875rem;
  color: #2B2B2D;
  font-weight: 500;
  line-height: 1.375rem;
  font-style: italic;
  margin-bottom: 0;
}

.works-section-card-icon {
  width: 12px;
}

.works-section-card-accordion {
  margin-top: -5px;
  outline: 0;
  border-radius: 0;
  width: 100%;
  border-radius: 10px !important;
}

.works-section-card-container {
  margin-top: 4rem;
  padding: 0;
  border-radius: 10px !important;
}

.services-section {
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.services-section-title {
  font-family: 'Lato', sans-serif;
  font-size: 1.375rem;
  color: #24243F;
  font-weight: 700;
  line-height: 1.5rem;
}

.services-section-title::after {
  display: block;
  content: ' ';
  border: 3px solid #426BA9;
  position: relative;
  width: 40%;
  margin-top: 1.5rem;
}

.services-section-title-container {
  padding: 0rem 12rem 0rem 0rem;
}

.services-section-subtitle {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #426BA9;
  margin-top: 1.5rem;
}

.services-section-text {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #2B2B2D;
  font-weight: 400;
  line-height: 1.3rem;
  opacity: 0.8;
  margin-top: 2rem;
}

.services-section-subtext {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #2B2B2D;
  font-weight: 400;
  line-height: 1.3rem;
  opacity: 0.8;
  margin-top: 1rem;
}

.footer-custom {
  background-image: url("../../assets/img/footerCurveBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 141px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 12rem;
  margin-top: 3rem;
}

.footer-custom-logo {
  width: 144px;
  margin-top: 1.5rem;
}
